@model Student 


<p>


   Do you wanna delete the <b> @Model.StudentName @Model.StudentLastName </b> ?


    <form asp-controller="Student" asp-action="Delete" >
        <input type="hidden" asp-for="StudentId" />
        <button type="submit" class="btn btn-danger">Yes</button>
        <a asp-controller="Student" asp-action="Index" class="btn btn-primary">No</a>
    </form>


</p>

