@model Course

<h1 class="m-5">
    Create a new Course
</h1>

<hr />

<form asp-controller="Course" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="CourseTitle" class="form-label">Kurs Adı</label>
        <input asp-for="CourseTitle" class="form-control" />
    </div>
    <button class="btn btn-secondary" type="submit">
        Kaydet
    </button>
</form>