@model CourseRecord

<h1>
    Courses Record Page
</h1>

<form asp-controller="CourseRecord" asp-action="Create" method="post">

    <div class="mb-3">
        <label asp-for="StudentId" class="form-label">Öğrenci</label>
        <select asp-for="StudentId" asp-items="ViewBag.Students" class="form-control">
            <option>
                Seçiniz
            </option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="CourseId" class="form-label">Kurs</label>
        <select asp-for="CourseId" asp-items="ViewBag.Courses" class="form-control">
            <option>
                Seçiniz
            </option>
        </select>
    </div>
    <button type="submit" class="btn btn-danger">Kaydet</button>
</form> 